body{
    background-color: lightblue;
    color: olive;
    font-style: initial;
    
    

}
.container{
    
     font-style: initial;
     font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    
}